/* Add your custom styles here */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: lownue;
  src: url(../fonts/LowballNeueRegular-rglJB.ttf);
}

/* Define CSS variables for colors */
:root {
  --background-color: #f1f1f1;
  --nav-color: #030033;
  --nav-text: white;
  --text-color: black;
  --link-color: blue;
  --button-color: blue;
  --button-text-color: white;
  --subtext-color: #2b2b2b;
  --drophov-color: #0044ff;
}
/* Dark mode styles */
.dark-mode {
  --background-color: #000018; /* Change the background color to black */
  --text-color: white; /* Change the text color to white */
  --link-color: white; /* Change the link color to white */
  --button-color: blue; /* Change the button color to red */
  --nav-color: #000000;
  --nav-text: rgb(233, 233, 233);
  --subtext-color: #c2c2c2;
  --drophov-color: #0044ff;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  max-width: vw100;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 2.5%;
}

.logo img {
  height: 40px;
}

.nav {
  overflow: hidden;
  display: flex;
  flex-grow: 1; /* Add this to make the nav take up the full width */
  background-color: var(--nav-color);
  width: 100%;
  padding: 0.4em;
  font-family: lownue;
}

/* Links inside the navbar */
.nav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav ul {
  list-style: none;
  
}

.nav li {
  display: inline-block;
  margin: 10px;
  width: 9%;
  
}

.nav a {
  text-decoration: none;
  color: var(--nav-text);
}

.nav button {
  border: none;
  padding: 2px;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--nav-color);
  
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.nav a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(0, 38, 255);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--nav-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: var(--nav-text);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--drophov-color);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the toggle to a button */
.toggle {
  margin-left: auto; /* Push the button to the right */
}

.toggle button {
  border: none;
  padding: 2px;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--nav-color);
}

.top-stories {
  padding: 20px;
}

.top-stories h2 {
  text-align: center;
  margin-bottom: 2.5%;
}

.stories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.story img {
  width: 100%;
}

.story h3 {
  padding: 10px;
}

.story p {
  padding: 10px;
}

.story a {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: var(--button-text-color);
  background-color: var(--button-color);
}

.sports-header {
  padding: 20px;
}

.sports-header h2 {
  text-align: center;
  margin-bottom: 2.5%;
}

.sports-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.sport img {
  width: 100%;
}

.sport h3 {
  padding: 10px;
}

.sport p {
  padding: 10px;
}

.sport a {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: var(--button-text-color);
  background-color: var(--button-color);
}

footer {
  padding: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.article img {
  width: 400px;
  width: 75%;
  height: 250px;
  object-fit: cover;
}

.article-title {
  margin-bottom: 2.5%;
}

.article-subtitle {
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 25px;
  color: var(--subtext-color);
}

.article-text {
  margin-bottom: 5%;
  
}

.donate-text {
  margin-top: 10%;
  margin-bottom: 2.5%;
  font-size: .8em;
  text-decoration: underline;
  font-style: italic;
}

.donate-addr {
  font-size: .95em;
  color: red;
  margin-bottom: 1%;
  
}
.donate-addr2 {
  font-size: 1em;
  color: red;
  margin-bottom: 3%;
}
.donate {
  width: 90%;
  margin-left: 5%;
  margin-right: auto;
}
.donate-content {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  
}

.article-content {
  width: 90%;
  margin-left: 5%;
  margin-right: 2.5%;
  
}

.vids {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.article-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 2.5%;
}

.gallery { 
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 10px; 
  padding: 20px; 
} 
.gallery img { 
  width: 100%; 
  height: auto; 
}

/* Media queries for different device widths */

/* For devices with width less than or equal to 600px */
@media (max-width: 600px) {
  
  /* Make the logo smaller */
  .logo img {
    height: 40px;
  }
  
  /* Make the nav items stack vertically and center them */
  .nav ul {
    flex-direction: column; 
    align-items: center; 
  }
  
  /* Make the stories grid have one column only */
  .stories-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  
}

/* For devices with width between 601px and 900px */
@media (min-width: 601px) and (max-width: 900px) {
  
  /* Make the stories grid have two columns only */
  .stories-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

